# Ignora node_modules (lo instala Docker por separado)
node_modules
npm-debug.log

# Ignora archivos de entorno sensibles
# Ignora archivos de configuración de desarrollo
.vscode
*.log

# Otros archivos innecesarios
Dockerfile*
docker-compose*
.git
.gitignore
README.md
