# DATABASE_URL: URL de conexión a la base de datos MongoDB, incluyendo las credenciales de acceso y el nombre de la base de datos.
DATABASE_URL=
# JWT_SECRET: Clave secreta utilizada para firmar y verificar tokens JWT (JSON Web Tokens).
JWT_SECRET=
# PORT: Puerto en el que se ejecutará el servidor de la aplicación.
PORT= 
# GATEWAY_URL: URL del gateway o puerta de enlace que conecta con otros servicios de la aplicación.
GATEWAY_URL=
# FRONTEND_URL: URL del frontend de la aplicación, utilizado para la comunicación entre el backend y el cliente.
FRONTEND_URL=